@page
@model ErrorModel
@{
    ViewData["Title"] = L["Error.Title"].Value;
}

<h1 class="text-danger">@L["Error.Heading"]</h1>
<h2 class="text-danger">@L["Error.Subheading"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@L["Error.RequestIdLabel"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@L["Error.DevMode.Heading"]</h3>
<p>@Html.Raw(L["Error.DevMode.Body1"])</p>
<p>@Html.Raw(L["Error.DevMode.Body2"])</p>
